
body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff8008, #ffb347);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box{
    background:white;
    padding:40px;
    width:320px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

h2{
    color:#ff8008;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:14px;
}

input:focus{
    border-color:#ff8008;
    outline:none;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#ff8008;
    color:white;
    border:none;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#e67300;
}

h3{
    margin-top:20px;
    color:#595c59;
}